{% extends "voting/base.html" %}

{% block title %}Vote | Election Room{% endblock %}

{% block bodyclass %}vote-page blur-bg{% endblock %}

{% block content %}
<div id="step-root">
    {% if student %}
        {% include "partials/_vote_ballot.html" %}
    {% else %}
        {% include "partials/_vote_entry.html" %}
    {% endif %}
</div>

<div id="vote-modal-root">
    {% if show_confirm %}
        {% include "partials/_vote_confirm.html" %}
    {% elif show_success %}
        {% include "partials/_vote_success.html" %}
    {% endif %}
</div>
{% endblock %}